body * {
  font-family: 'Karla', sans-serif;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(0.9);
}

.text {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 16px;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.5em;
}

.text a {
    color: white;
}

#author {
    display: flex;
    display: none;
}

#username,
#upload,
#removeupload {
    transition: transform 0.2s ease;
}

#username:hover,
#upload:hover,
#removeupload:hover {
    transform: scale(1.05);
}

.bottomGradient {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.89) 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
}

#credit {
    margin-right: 12px;
}

#upload,
#removeupload {
    cursor: pointer;
}

#removeupload {
    display: none;
}
